<div class="rounded bg-light text-center p-3">
    <p class="h4">کاربردهای دیگر</p>
</div>
<div class="owl-carousel">
  <div class="card m-2">
  <img class="card-img-top" src="/assets/images/qrcode-usage-images/overview-banners.png" alt="qrcode on banners">
  <div class="card-body">
  <p class="card-text text-center">
    QR بر روی<br/>
    <a class="font-weight-bold btn btn-success btn-block" href="banners">بنرهای تبلیغاتی</a></p>
  </div>
  </div>

  <div class="card m-2">
  <img class="card-img-top" src="/assets/images/qrcode-usage-images/overview-books.png" alt="qrcode on books">
  <div class="card-body">
  <p class="card-text text-center">
    QR بر روی<br/>
    <a class="font-weight-bold btn btn-success btn-block" href="books">کتاب</a></p>
  </div>
  </div>

  <div class="card m-2">
  <img class="card-img-top" src="/assets/images/qrcode-usage-images/overview-bottles-cans.png" alt="qrcode on bottles">
  <div class="card-body">
  <p class="card-text text-center">
    QR بر روی<br/>
    <a class="font-weight-bold btn btn-success btn-block" href="bottles-cans">بطری و شیشه</a></p>
  </div>
  </div>

  <div class="card m-2">
  <img class="card-img-top" src="/assets/images/qrcode-usage-images/overview-brochures.png" alt="qrcode on brochures">
  <div class="card-body">
  <p class="card-text text-center">
    QR بر روی<br/>
    <a class="font-weight-bold btn btn-success btn-block" href="brochures">بروشور و راهنما</a></p>
  </div>
  </div>

  <div class="card m-2">
  <img class="card-img-top" src="/assets/images/qrcode-usage-images/overview-business-cards.png" alt="qrcode on business-cards">
  <div class="card-body">
  <p class="card-text text-center">
    QR بر روی<br/>
    <a class="font-weight-bold btn btn-success btn-block" href="business-cards">کارت</a></p>
  </div>
  </div>

  <div class="card m-2">
  <img class="card-img-top" src="/assets/images/qrcode-usage-images/overview-clothing.png" alt="qrcode on clothing">
  <div class="card-body">
  <p class="card-text text-center">
    QR بر روی<br/>
    <a class="font-weight-bold btn btn-success btn-block" href="clothing">پوشاک</a></p>
  </div>
  </div>

  <div class="card m-2">
  <img class="card-img-top" src="/assets/images/qrcode-usage-images/overview-displays.png" alt="qrcode on displays">
  <div class="card-body">
  <p class="card-text text-center">
    QR بر روی<br/>
    <a class="font-weight-bold btn btn-success btn-block" href="displays">تابلوهای عمومی</a></p>
  </div>
  </div>

  <div class="card m-2">
  <img class="card-img-top" src="/assets/images/qrcode-usage-images/overview-flyers.png" alt="qrcode on flyers">
  <div class="card-body">
  <p class="card-text text-center">
    QR بر روی<br/>
    <a class="font-weight-bold btn btn-success btn-block" href="flyers">آگهی</a></p>
  </div>
  </div>

  <div class="card m-2">
  <img class="card-img-top" src="/assets/images/qrcode-usage-images/overview-food-packaging.png" alt="qrcode on food-packaging">
  <div class="card-body">
  <p class="card-text text-center">
    QR بر روی<br/>
    <a class="font-weight-bold btn btn-success btn-block" href="food-packaging">بسته بندی غذا</a></p>
  </div>
  </div>

  <div class="card m-2">
  <img class="card-img-top" src="/assets/images/qrcode-usage-images/overview-giveaways.jpg" alt="qrcode on giveaways">
  <div class="card-body">
  <p class="card-text text-center">
    QR بر روی<br/>
    <a class="font-weight-bold btn btn-success btn-block" href="giveaways">تبلیغات محیطی</a></p>
  </div>
  </div>

  <div class="card m-2">
  <img class="card-img-top" src="/assets/images/qrcode-usage-images/overview-labels-stickers.png" alt="qrcode on labels-stickers">
  <div class="card-body">
  <p class="card-text text-center">
    QR بر روی<br/>
    <a class="font-weight-bold btn btn-success btn-block" href="labels-stickers">برچسب و لیبل</a></p>
  </div>
  </div>

  <div class="card m-2">
  <img class="card-img-top" src="/assets/images/qrcode-usage-images/overview-newspapers-magazines.png" alt="qrcode on newspapers-magazines">
  <div class="card-body">
  <p class="card-text text-center">
    QR بر روی<br/>
    <a class="font-weight-bold btn btn-success btn-block" href="newspapers-magazines">روزنامه و مجله</a></p>
  </div>
  </div>

  <div class="card m-2">
  <img class="card-img-top" src="/assets/images/qrcode-usage-images/overview-posters.png" alt="qrcode on posters">
  <div class="card-body">
  <p class="card-text text-center">
    QR بر روی<br/>
    <a class="font-weight-bold btn btn-success btn-block" href="posters">پوستر</a></p>
  </div>
  </div>

  <div class="card m-2">
  <img class="card-img-top" src="/assets/images/qrcode-usage-images/overview-product-packaging.png" alt="qrcode on product-packaging">
  <div class="card-body">
  <p class="card-text text-center">
    QR بر روی<br/>
    <a class="font-weight-bold btn btn-success btn-block" href="product-packaging">بسته بندی محصولات</a></p>
  </div>
  </div>

  <div class="card m-2">
  <img class="card-img-top" src="/assets/images/qrcode-usage-images/overview-stationery.png" alt="qrcode on stationery">
  <div class="card-body">
  <p class="card-text text-center">
    QR بر روی<br/>
    <a class="font-weight-bold btn btn-success btn-block" href="stationery">سربرگ</a></p>
  </div>
  </div>

  <div class="card m-2">
  <img class="card-img-top" src="/assets/images/qrcode-usage-images/overview-table-tents.png" alt="qrcode on table-tents">
  <div class="card-body">
  <p class="card-text text-center">
    QR بر روی<br/>
    <a class="font-weight-bold btn btn-success btn-block" href="table-tents">استند</a></p>
  </div>
  </div>

  <div class="card m-2">
  <img class="card-img-top" src="/assets/images/qrcode-usage-images/overview-tickets.png" alt="qrcode on tickets">
  <div class="card-body">
  <p class="card-text text-center">
    QR بر روی<br/>
    <a class="font-weight-bold btn btn-success btn-block" href="tickets">بلیط</a></p>
  </div>
  </div>

  <div class="card m-2">
  <img class="card-img-top" src="/assets/images/qrcode-usage-images/overview-vehicles.png" alt="qrcode on vehicles">
  <div class="card-body">
  <p class="card-text text-center">
    QR بر روی<br/>
    <a class="font-weight-bold btn btn-success btn-block" href="vehicles">وسایل نقلیه / خودرو</a></p>
  </div>
  </div>

  <div class="card m-2">
  <img class="card-img-top" src="/assets/images/qrcode-usage-images/overview-websites.png" alt="qrcode on websites">
  <div class="card-body">
  <p class="card-text text-center">
    QR بر روی<br/>
    <a class="font-weight-bold btn btn-success btn-block" href="websites">سایت و وبلاگ</a></p>
  </div>
  </div>

  <div class="card m-2">
  <img class="card-img-top" src="/assets/images/qrcode-usage-images/overview-windows.png" alt="qrcode on windows">
  <div class="card-body">
  <p class="card-text text-center">
    QR بر روی<br/>
    <a class="font-weight-bold btn btn-success btn-block" href="windows">پنجره</a></p>
  </div>
  </div>

</div>
<!-- https://owlcarousel2.github.io/OwlCarousel2/demos/responsive.html
https://tympanus.net/Development/BookBlock/index2.html -->
