/* 40 of 362 CSS properties converted by rtl.daskhat.ir
 These properties should be override originals.
 just load rtl css file after original css file.*/

/* body {direction:rtl;} */

pre{
    margin: 0 0 1.75em 0 ;
}

@media (min-width:992px){
    .navbar-expand-lg .navbar-nav .nav-link{
        padding-left: 0.8rem;
        padding-right: 0.8rem;
    }

}

.listfeaturedtag .thumbnail{
    background-position: 62% 22% !important;
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
}

.listfeaturedtag .card-block{
    padding-right: 0;
}

.author-thumb{
    float: right;
    margin-left: 13px;
}

span.post-read-more{
    float: left;
}

.dot:after{
    margin-right: 3px;
    margin-left: 3px;
}

.mediumnavigation .form-inline{
    margin-right: 15px;
}

.mediumnavigation .form-inline .btn{
    margin-right: -50px;
}

.mediumnavigation .search-icon{
    margin-right: -40px;
}

.mediumnavigation .navbar-brand img{
    margin-left: 5px;
}

blockquote{
    border-right: 4px solid #00ab6b;
}

.article-post p,.article-post blockquote{
    margin: 0 0 1.5rem 0 ;
}

.share ul{
    padding-right: 0;
    margin-right: 0;
}

@media (max-width:999px){
    .alertbar{
        padding-left: 14px !Important;
    }

    #comments{
        margin-left: 15px;
    }

    .alertbar input[type="email"]{
        margin-left: 0px !Important;
        border-left: 1px solid #ddd !Important;
    }

}

ul.tags{
    padding-right: 0;
    margin: 0 0 3rem 0 ;
}

.btn.subscribe{
    margin-right: 10px;
}

.post-top-meta .btn.follow{
    margin-right: 5px;
}

.alertbar{
    right: 0;
}

.alertbar input[type="email"]{
    padding: 3px 10px 3px 5px ;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-left: 0;
    margin-left: -10px;
    margin-right: 5px;
}

.alertbar input[type="submit"]{
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.post-top-meta.authorpage .btn.follow{
    margin-right: 0;
}

.bottompagination span.navigation{
    padding: 15px 0 0 0 ;
}

.pointerup{
    margin-right: 49%;
}
